:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 4.5rem;

  --gutter: var(--space-md);
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  color: var(--base-colour);
  background: var(--light-grayish-blue);
  font-size: 0.8125rem;
}

b,
h1,
h2,
h3 {
  font-weight: 600;
}

h3 {
  font-size: 1rem;
}

blockquote {
  color: hsl(from currentcolor h s l / 0.7);
}

hgroup > p {
  color: hsl(from currentcolor h s l / 0.5);
}

/* Composition */
.grid {
  display: grid;
  gap: var(--gutter);
  padding-inline: var(--gutter);
  padding-block: var(--space-xl);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* Utilities */
.bg-violet {
  background: var(--moderate-violet);
}

.bg-dark-gray {
  background: var(--very-dark-grayish-blue);
}

.bg-dark-black-blue {
  background: var(--very-dark-blackish-blue);
}

.bg-white {
  background: var(--white);
}

.bg-light-gray {
  background: var(--light-gray);
}

.bg-light-gray-blue {
  background: var(--light-grayish-blue);
}

/* Block */
.card {
  --flow-space: var(--space-sm);
  --card-bg: var(--white);
  --card-colour: var(--very-dark-grayish-blue);

  padding-block: 1.5rem;
  padding-inline: var(--space-lg);
  border-radius: 0.5rem;
  color: var(--card-colour);
  background: var(--card-bg);

  &[data-variant="dark-gray"] {
    --card-bg: var(--very-dark-grayish-blue);
    --card-colour: var(--white);
  }

  &[data-variant="black-blue"] {
    --card-bg: var(--very-dark-blackish-blue);
    --card-colour: var(--white);
  }

  &[data-variant="violet"] {
    --card-bg: var(--moderate-violet);
    --card-colour: var(--white);
  }
}

.user-tag {
  display: flex;
  gap: 1rem;

  .user-tag__img {
    border-radius: 50%;
  }

  .user-tag__name {
    font-size: 0.8125rem;
  }

  .user-tag__title {
    font-size: 0.6875rem;
  }
}
